@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>


<body>
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="register-page">
                    <div class="register">
                        <h2>وارد شوید</h2>
                        <form action="">
                            <div class="form-item">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="موبایل">

                            </div>
                            <div class="form-item">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="پسورد">

                            </div>

                            <input type="submit" value="وارد شوید">

                        </form>
                    </div>
                    
                </div>



            </div>
        </div>
    </section>
    <script src="/js/all.min.js"></script>
</body>

</html>
